<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>체험농장예약시스템</title>
  </head>
  <body>
    <h1 style="text-align: center;">체험농장 예약시스템</h1>
    <div style="display: flex; justify-content: flex-end;">
      <div>
        <button type="button" class="btn col-md-12 blue1" onclick="location.href='/users/login'">로그아웃</button>
        <button type="button" class="btn col-md-12 blue1" onclick="location.href='/'">메인</button>
      </div>
    </div>
    <hr>

    <h3 style="padding-left: 40%">농장이름</h3>
    <textarea type="text" style="padding-right: 10%;  margin-left: 40%; margin-right: 40%; text-align: left;" size="30" placeholder="내용을 입력해주세요."></textarea>

    <h3 style="padding-left: 40%">정보입력</h3>
    <textarea type="text" style="padding: 5%; margin-left: 40%; margin-right: 40%;" size="30" placeholder="내용을 입력해주세요."></textarea> <br>

    <h3 style="padding-left: 40%">농장주소</h3>
    <input type='text' name='FarmAddress' style="width:300px; margin-left: 40%; margin-right: 40%;"><br>

    <h3 style="padding-left: 40%">농장 카테고리 선택</h3>
    <select name="category" style="padding-right: 5%; margin-left: 40%; margin-right: 40%;" required>
        <option value="" selected>선택</option>
        <% for(i = 0; i < 10; i++) { %>
            <option value="<%=i%>"></option>
            <% } %>
    </select><br>

    <h3 style="padding-left: 40%">지역 카테고리 선택</h3>
    <select name="local" style="padding-right: 5%; margin-left: 40%; margin-right: 40%;" required>
        <option value="" selected>선택</option>
        <% for(i = 0; i < 10; i++) { %>
          <option value="<%=i%>"></option>
        <% } %>
    </select>
    <div style="display: flex; justify-content: center; margin-top: 2%;">
      <button type='submit' onclick="location.href='/users/farmInfo'">등록</button>
    </div>
  </body>
</html>