<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>체험농장예약시스템</title>
  </head>
  <body>
    <h1 style="text-align: center;">체험농장 예약시스템</h1>
    <div style="display: flex; justify-content: flex-end;">
      <div>
        <button type="button" class="btn col-md-12 blue1" onclick="location.href='/users/login'">로그아웃</button>
        <button type="button" class="btn col-md-12 blue1" onclick="location.href='/'">메인</button>
      </div>
    </div>
    <hr>
    <div style="display: flex; justify-content: flex-end;">
      <button type="button" class="btn col-md-12 blue1" onclick="location.href='/users/farmInfo'">농장정보</button>
    </div>
  </body>
</html>