<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>체험농장예약시스템</title>
</head>

<body>
  <h1 style="text-align: center">체험농장 예약시스템</h1>
  <div style="display: flex; justify-content: flex-end;">
    <div>
      <button onclick="location.href='/users/login'">로그인</button>
      <button onclick="location.href='/users/signup'">회원가입</button>
      <button onclick="location.href='/users/login'">로그아웃</button>
      <button onclick="location.href='/users/farmMypage'">농장주마이페이지</button>
      <button onclick="location.href='/users/userMypage'">사용자마이페이지</button>
    </div>
  </div>
  <hr>

  <form action="" method="" >
    <div style="display: flex; justify-content: center; margin-top: 1%;">
      <select style="padding-right: 5%; margin-right: 0.5%;" name="category">
        <option value="" selected> 카테고리 </option>
        <option value="apple">사과</option>
        <option value="strawberry">딸기</option>
        <option value="grape">포도</option>
        <option value="tangerine">귤</option>
      </select>

      <select style="padding-right: 2%; margin-right: 0.5%;" name="area">
        <option value="" selected> 지역 </option>
        <option value="seoul">서울</option>
        <option value="gyeonggi">경기</option>
        <option value="gangwon">강원</option>
        <option value="chungcheong">충청</option>
        <option value="busan">부산</option>
      </select>
      <a type="button" onclick="location.href='/'" style="width: 2%;"><img style="width:60%;" src="..\images\magnifying-glass.jpg"></a>
      <a type="button" onclick="location.href='/users/farm_reg'" style="width: 2%;"><img style="width:60%;" src="..\images\plus.jpg"></a>
    </div>
  </form>

  <a style="display: flex; justify-content: center; margin-top: 1%;" type="button" onclick="location.href='/'"><img src="..\images\strawberry_f.png" alt="이미지 없음"></a>
  <p style="margin-left: 41%;">10월 인기 체험</p>
  <p style="margin-left: 41%;">부산 주례동에 위치한 딸기체험 농장이 가장 인기있다.</p>
  
  <% for (i=0; i < 3; i ++) { %>
    <div style="display: flex; justify-content: center;">
      <img style="margin-bottom: 2%; margin-right: 1%;" width="10%" height="10%" src="..\images\strawberry.jpg" alt="이미지 없음">
      <div>
        <a style="font-size:20px; color:rgb(41, 90, 221);text-decoration:underline;" class="" href="/users/progInfo">재민농장</a>
        <p style="font-size: 18px; line-height: 1.4em; " class="">위치정보 ~</p>
        <p style="font-size: 18px; line-height: 1.4em; " class="">체험내용 ~</p>
      </div>
    </div>
  <% } %>
</body>

</html>