<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>index</title>
</head>
<body>
  <div>
    <h1 style="text-align: center;">체험농장 예약시스템</h1> 
    <button onclick="location.href='/users/login'">로그인</button>
    <button onclick="location.href='/users/signup'">회원가입</button> <hr>
  </div><br>

  <div style="margin-left: 40%;">
    <form action="" method="">
      <select style="padding-right: 5%;" name="category">
        <option value="" selected> 카테고리 </option>
        <option value="apple">사과</option>
        <option value="strawberry">딸기</option>
        <option value="grape">포도</option>
        <option value="tangerine">귤</option>
      </select>
  
      <select style="padding-right: 2%;" name="area">
        <option value="" selected> 지역 </option>
        <option value="seoul">서울</option>
        <option value="gyeonggi">경기</option>
        <option value="gangwon">강원</option>
        <option value="chungcheong">충청</option>
        <option value="busan">부산</option>
      </select>  

      <button type="submit" onclick="location.href='/'" >검색</button>
      <button type="submit" style="margin-right: 5%;" onclick="location.href='/users/farm_reg'">농장등록</button>
    </form>

  </div>

  <div style="margin-left: 40%; height: 40%;">
    <a href="";>
      <img src="strawberry.jpg"; alt="이미지 없음"; sizes="50">
    </a>
    <p>10월 인기 체험</p>
    <h5>부산 주례동에 위치한 딸기체험 농장이 가장 인기있다.</h5>

</div>

</body>
</html>