<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>체험농장예약시스템</title>
</head>

<body>
  <h1 style="text-align: center;">체험농장 예약시스템</h1>
  <div style="display: flex; justify-content: flex-end;">
    <div>
      <button type="button" class="btn col-md-12 blue1" onclick="location.href='/users/login'">로그아웃</button>
      <button type="button" class="btn col-md-12 blue1" onclick="location.href='/'">메인</button>
    </div>
  </div>
  <hr>
  <h3 style="text-align: center;">결제수단</h3>
  <form>
    <div class="container col-md-5" style="margin-left: 30%;">
      <h5 style="float:left; margin-right: 5%; width: 90px;">카드선택 </h5>
      <select name="card" style="width:10%; margin-bottom: 5%;">
        <option value="" selected> 은행선택 </option>
        <option value="busan">부산</option>
        <option value="nonghyup">농협</option>
        <option value="hana">하나</option>
        <option value="industrial">기업</option>
      </select> <br>
      <h5 style="float:left; margin-right: 5%; width: 90px;">카드번호 </h5>
      <input type="text" name="cardNum"class="form-control" style="width:30%; margin-bottom: 5%" placeholder="카드번호를 입력해주세요"/> <br>
      <h5 style="float:left; margin-right: 5%; width: 90px;">카드 비밀번호 </h5>
      <input type="text" name="cardPw"class="form-control" style="width:30%; margin-bottom: 5%" placeholder="카드 비밀번호를 입력해주세요"/> <br>
    </div>
    <div style="display: flex; justify-content: center;">
      <button type="button" class="btn blue1" onclick="location.href='/users/userMypage'">결제하기</button>
    </div>
  </form>
</body>

</html>