<!DOCTYPE html>
<html lang="en">

<head>
    <title>체험농장 예약시스템</title>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <link href="/static/package/view.min.css?1630042307762" rel="stylesheet" type="text/css">
    <script async="" src="//www.google-analytics.com/analytics.js"></script>
    <script src="/static/package/view-resource.min.js?1630042307762"></script>
    <script>screenWidth = 1200; projectId = "GdXjyOUwGe1l68HZWVI3EBurvfFuoS9m"; sequenceId = "rwJN6";</script>
    <style>
        body {
            margin: 0;
            padding: 0;
        }

        #webView {
            overflow: hidden;
            position: relative;
            background: ;
            width: 1200px;
            height: 720px;
            margin: 0 auto;
            -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0)
        }

        #webView[data-show-memo='true'] {
            overflow: visible
        }
    </style>
    <script type="text/javascript" async="" src="https://m1.daumcdn.net/tiara/js/td.min.js"></script>
</head>

<body data-locale="ko" style="">
    <div id="webView" data-canvas="true" data-show-memo="false" data-show-link="false"
        title="페이지에 링크가 연결된 객체가 있을 경우 화면을 터치/클릭하면 표시됩니다." class="">
        <div data-obj-id="MOZod" data-obj-type="element" class=""
            style="position: absolute; top: 101px; left: 2px; width: 1196px; height: 20px;">
            <div data-image-content="true" style="background-image: url(/static/images/shape/line-horizontal.svg);">
            </div>
        </div>
        <div data-obj-id="v8wC9" data-obj-type="element" data-text-editable="true" class=""
            style="position: absolute; top: 36px; left: 450px; width: 300px; height: 48px;">
            <div data-text-content="true" style="font-weight: bold; font-size: 32px; text-align: center;" class=""
                spellcheck="false">체험농장 예약시스템</div>
        </div>
        <div data-obj-id="HVB6D" data-obj-type="element" data-text-editable="true" class=""
            style="position: absolute; top: 121px; left: 541px; width: 117px; height: 44px;">
            <div data-text-content="true" style="font-weight: bold; font-size: 30px;" class="">재민농장</div>
        </div>

        <div data-obj-type="group" data-obj-id="S1SdV" class=""
            style="position: absolute; left: 450px; top: 204px; width: 73.204px; height: 66px;">
            <div data-obj-id="pzoB1" data-obj-type="icon" class=""
                style="position: absolute; top: 27px; left: 0px; width: 59.9866px; height: 39px; transform: rotate(0rad);">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"
                    id="Layer_1" x="0px" y="0px" width="34px" height="32px" viewBox="0 0 34 32"
                    enable-background="new 0 0 34 32" xml:space="preserve" data-svg-content="true" fill="#000000">
                    <g>
                        <path fill="#828282"
                            d="M34,30.5v-19c0-0.276-0.224-0.5-0.5-0.5S33,11.224,33,11.5v19c0,0.276-0.224,0.5-0.5,0.5h-31   C1.224,31,1,30.776,1,30.5v-19C1,11.224,0.776,11,0.5,11S0,11.224,0,11.5v19C0,31.327,0.673,32,1.5,32h31   C33.327,32,34,31.327,34,30.5z">
                        </path>
                        <path fill="#828282"
                            d="M4.5,23C4.224,23,4,23.224,4,23.5S4.224,24,4.5,24H6v3.5C6,27.776,6.224,28,6.5,28S7,27.776,7,27.5V24h6   v3.5c0,0.276,0.224,0.5,0.5,0.5s0.5-0.224,0.5-0.5V24h6v3.5c0,0.276,0.224,0.5,0.5,0.5s0.5-0.224,0.5-0.5V24h6v3.5   c0,0.276,0.224,0.5,0.5,0.5s0.5-0.224,0.5-0.5V24h1.5c0.276,0,0.5-0.224,0.5-0.5S29.776,23,29.5,23H28v-5h1.5   c0.276,0,0.5-0.224,0.5-0.5S29.776,17,29.5,17H28v-4.5c0-0.276-0.224-0.5-0.5-0.5S27,12.224,27,12.5V17h-6v-4.5   c0-0.276-0.224-0.5-0.5-0.5S20,12.224,20,12.5V17h-6v-4.5c0-0.276-0.224-0.5-0.5-0.5S13,12.224,13,12.5V17H7v-4.5   C7,12.224,6.776,12,6.5,12S6,12.224,6,12.5V17H4.5C4.224,17,4,17.224,4,17.5S4.224,18,4.5,18H6v5H4.5z M27,18v5h-6v-5H27z M20,18v5   h-6v-5H20z M7,18h6v5H7V18z">
                        </path>
                        <path fill="#828282"
                            d="M28.5,3h4.25C32.837,3,33,3,33,3.5V8H1V3.5C1,3.224,1.224,3,1.5,3h4C5.776,3,6,2.776,6,2.5S5.776,2,5.5,2   h-4C0.673,2,0,2.673,0,3.5v5C0,8.776,0.224,9,0.5,9h33C33.776,9,34,8.776,34,8.5v-5C34,2.394,33.354,2,32.75,2H28.5   C28.224,2,28,2.224,28,2.5S28.224,3,28.5,3z">
                        </path>
                        <path fill="#828282"
                            d="M22.5,3C22.776,3,23,2.776,23,2.5S22.776,2,22.5,2h-11C11.224,2,11,2.224,11,2.5S11.224,3,11.5,3H22.5z">
                        </path>
                        <path fill="#828282"
                            d="M9,4.5v-4C9,0.224,8.776,0,8.5,0S8,0.224,8,0.5v4C8,4.776,8.224,5,8.5,5S9,4.776,9,4.5z">
                        </path>
                        <path fill="#828282"
                            d="M25.5,5C25.776,5,26,4.776,26,4.5v-4C26,0.224,25.776,0,25.5,0S25,0.224,25,0.5v4C25,4.776,25.224,5,25.5,5   z">
                        </path>
                    </g>
                </svg></div>
            <div data-obj-id="seGpY" data-obj-type="element" data-text-editable="true" class=""
                style="position: absolute; top: 0px; left: 0px; width: 71.1706px; height: 27px;">
                <div data-text-content="true" style="font-weight: bold; font-size: 16px;" class="">날짜</div>
              
                <input type="date" name="date" id="date" required>
            </div>
        </div>
        <div data-obj-type="group" data-obj-id="hdkfk" class=""
            style="position: absolute; left: 449.517px; top: 318px; width: 72.1873px; height: 66px;">
            <div data-obj-id="rdnRU" data-obj-type="element" data-text-editable="true" class=""
                style="position: absolute; top: 0px; left: 0px; width: 72.1873px; height: 27px;">
                <div data-text-content="true" style="font-weight: bold; font-size: 16px;" class="">시간</div>
            </div>
            <div data-obj-id="irc1D" data-obj-type="icon" class=""
                style="position: absolute; top: 27px; left: 0px; width: 63.0368px; height: 39px;"><svg
                    xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"
                    id="Layer_1" x="0px" y="0px" width="32px" height="32px" viewBox="0 0 32 32"
                    enable-background="new 0 0 32 32" xml:space="preserve" data-svg-content="true" fill="#000000">
                    <g>
                        <path fill="#828282"
                            d="M16,32c8.822,0,16-7.178,16-16S24.822,0,16,0S0,7.178,0,16S7.178,32,16,32z M16,1c8.271,0,15,6.729,15,15   s-6.729,15-15,15S1,24.271,1,16S7.729,1,16,1z">
                        </path>
                        <path fill="#828282"
                            d="M20.061,21.768c0.098,0.098,0.226,0.146,0.354,0.146s0.256-0.049,0.354-0.146   c0.195-0.195,0.195-0.512,0-0.707L16,16.293V9.319c0-0.276-0.224-0.5-0.5-0.5S15,9.043,15,9.319V16.5   c0,0.133,0.053,0.26,0.146,0.354L20.061,21.768z">
                        </path>
                        <circle fill="#828282" cx="4" cy="16" r="1"></circle>
                        <circle fill="#828282" cx="28" cy="16" r="1"></circle>
                        <circle fill="#828282" cx="16" cy="4" r="1"></circle>
                        <circle fill="#828282" cx="16" cy="28" r="1"></circle>
                        <circle fill="#828282" cx="8" cy="8" r="1"></circle>
                        <circle fill="#828282" cx="24" cy="24" r="1"></circle>
                        <circle fill="#828282" cx="25" cy="8" r="1"></circle>
                        <circle fill="#828282" cx="8" cy="24" r="1"></circle>
                    </g>
                </svg></div>
        </div>
        <div data-obj-type="group" data-obj-id="oUYdk" class=""
            style="position: absolute; left: 449.033px; top: 425px; width: 122.007px; height: 66px;">
            <div data-obj-id="ils97" data-obj-type="element" data-text-editable="true" class=""
                style="position: absolute; top: 0px; left: 0px; width: 72.1873px; height: 24px;">
                <div data-text-content="true" style="font-weight: bold; font-size: 16px;" class="">인원</div>
            </div>
            <div data-obj-id="3LhqF" data-obj-type="element" data-text-editable="true" class=""
                style="position: absolute; top: 27px; left: 0px; width: 122.007px; height: 39px;">
                <div data-text-content="true" data-min-width="80" data-min-height="30"
                    style="border-radius: 4px; border: 1px solid rgb(204, 204, 204); box-shadow: rgba(0, 0, 0, 0.075) 0px 1px 1px inset; background-color: rgb(255, 255, 255); line-height: 2.7em;"
                    class="">1</div>
                <div style="position: absolute; top: 50%; right:5px; margin-top:-12px; width: 15px; height: 15px;"
                    class=""><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                        width="32" height="32" viewBox="0 0 32 32" fill="#000000" data-svg-content="true">
                        <g>
                            <path
                                d="M 8.998,20l 13.966,0 c 0.286,0, 0.54-0.138, 0.72-0.352l 0.004,0.004c 0.39-0.434, 0.39-1.138,0-1.572L 16.69,10.326 c-0.39-0.434-1.022-0.434-1.41,0c-0.010,0.012-0.014,0.028-0.024,0.040L 8.272,18.080c-0.39,0.434-0.39,1.138,0,1.572 C 8.276,19.656, 8.28,19.658, 8.284,19.662C 8.466,19.87, 8.716,20, 8.998,20z">
                            </path>
                        </g>
                    </svg></div>
                <div style="position: absolute; top: 50%; right:5px; width: 15px; height: 15px;" class=""><svg
                        xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="32"
                        height="32" viewBox="0 0 32 32" fill="#000000" data-svg-content="true">
                        <g>
                            <path
                                d="M 16.682,19.674c 0.010-0.012, 0.014-0.028, 0.024-0.040l 6.982-7.714c 0.39-0.434, 0.39-1.138,0-1.572 c-0.004-0.004-0.008-0.006-0.012-0.008C 23.496,10.13, 23.244,10, 22.964,10L 8.998,10 c-0.286,0-0.54,0.138-0.722,0.352L 8.272,10.348 c-0.39,0.434-0.39,1.138,0,1.572l 6.998,7.754C 15.66,20.108, 16.292,20.108, 16.682,19.674z">
                            </path>
                        </g>
                    </svg></div>
            </div>
        </div>
        <div data-obj-type="group" data-obj-id="FKlaC" class=""
            style="position: absolute; left: 489px; top: 646px; width: 221.5px; height: 49px;">
            <div data-obj-id="wdC14" data-obj-type="element" data-text-editable="true" class=""
                style="position: absolute; top: 0px; left: 0px; width: 100px; height: 49px;">
                <button data-text-content="true"
                    style="font-size: 14px; color: rgb(64, 64, 64); text-align: center; line-height: 3.5em; border-radius: 4px; background-color: rgb(224, 224, 224); font-weight: bold;"
                    class="" spellcheck="false">완료 및 결제</button>
            </div>
            <div data-obj-id="pZMcv" data-obj-type="element" data-text-editable="true" class=""
                style="position: absolute; top: 0px; left: 121.5px; width: 100px; height: 49px;">
                <button data-text-content="true"
                    style="font-size: 14px; color: rgb(64, 64, 64); text-align: center; line-height: 3.5em; border-radius: 4px; background-color: rgb(224, 224, 224); font-weight: bold;"
                    class="" onclick="location.href='/users/progInfo'">취소</button>
            </div>
        </div>
    </div>
    <div id="ovenWebview_Gesture" class="ovenWebview_Gesture">
        <div id="gesture_left" data-id="GdXjyOUwGe1l68HZWVI3EBurvfFuoS9m/r46ZC" class="gesture_sign gesture_sign_left">
        </div>
        <div id="gesture_right" data-id="GdXjyOUwGe1l68HZWVI3EBurvfFuoS9m/gvofg"
            class="gesture_sign gesture_sign_right"></div>
    </div>
    <div style="display:none;" class="ovenQRnURL"></div>
    
        <link rel="stylesheet" type="text/css" href="/static/csslib/elegant-fonts.css">
        <style>
            .ovenWebview_Nav {
                position: fixed;
                bottom: 15px;
                left: 15px;
                width: 120px;
                height: 40px;
                color: #fff;
                -webkit-transform: translate3d(0, 0, 0);
                transform: translate3d(0, 0, 0);
            }

            .ovenWebview_Nav a {
                text-decoration: none;
                color: #fff
            }

            .ovenWebview_Nav>a {
                margin-right: 5px;
                opacity: 0.7;
                -webkit-transition: all 0.2s;
                transition: all 0.2s;
                ;
                font-size: 36px;
            }

            .ovenWebview_Nav>a:not(.disabled):hover {
                opacity: 1
            }

            .ovenWebview_Nav>.disabled {
                opacity: 0.2;
                cursor: default
            }

            #toggleMoreMenu {
                cursor: move
            }

            .ovenWebview_MoreMenu {
                position: absolute;
                width: 170px;
                margin-left: -10px;
                box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
                border-radius: 4px;
            }

            .ovenWebview_MoreMenu .arrow {
                position: absolute;
                bottom: -10px;
                width: 0;
                height: 0;
                border-left: 10px solid transparent;
                border-right: 10px solid transparent;
                border-top: 10px solid #1abc9c;
            }

            .ovenWebview_MoreMenu .arrow.up {
                bottom: auto;
                top: -10px;
                border-top: none;
                border-bottom: 10px solid #1abc9c;
            }

            .ovenWebview_Nav .ovenWebview_MoreMenu a {
                display: block;
                height: 40px;
                line-height: 40px;
                padding: 0 14px 0 28px;
                background: #1abc9c;
                color: #fff;
            }

            .ovenWebview_MoreMenu a:first-of-type {
                border-radius: 4px 4px 0 0
            }

            .ovenWebview_MoreMenu a:last-of-type {
                border-radius: 0 0 4px 4px
            }

            .ovenWebview_MoreMenu a:not(.disabled):hover {
                background: #16a085;
            }

            .ovenWebview_MoreMenu .sub a.current {
                font-weight: bold;
                background: #16a085;
            }

            .ovenWebview_MoreMenu a.current:after {
                position: absolute;
                left: 7px;
                font-family: "ElegantIcons";
                content: "N"
            }

            .ovenWebview_MoreMenu a.has_sub.on {
                background: #16a085;
            }

            .ovenWebview_MoreMenu a.has_sub:after {
                position: absolute;
                right: 10px;
                font-family: "ElegantIcons";
                content: "E"
            }

            .ovenWebview_MoreMenu .sub {
                display: none;
                overflow: auto;
                position: absolute;
                left: 97%;
                height: 165px;
                margin-top: -70px;
                width: 130px;
                box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.35);
                border-radius: 4px;
                background: #1abc9c
            }

            .ovenWebview_MoreMenu .sub.alt {
                left: auto;
                right: 97%;
            }

            .ovenWebview_MoreMenu .sub>a {
                overflow: hidden;
                font-size: 12px;
                height: 30px;
                line-height: 30px;
                padding: 0 10px 0 25px;
                text-overflow: ellipsis;
                white-space: nowrap
            }

            .ovenWebview_MoreMenu a.disabled {
                color: rgba(255, 255, 255, 0.3);
                cursor: default;
            }

            .ovenQRnURL {
                position: absolute;
                z-index: 1000;
                top: 50%;
                left: 50%;
                width: 320px;
                margin: -240px 0 0 -170px;
                padding: 10px;
                background-color: rgba(0, 0, 0, 0.6);
                border-radius: 20px;
            }

            .ovenQRnURL>img {
                background-color: #fff;
                margin: 20px;
            }

            .ovenQRnURL>strong {
                display: block;
                font-size: 24px;
                font-family: Monospace;
                text-align: center;
                color: #fff;
                text-shadow: 0 1px 2px rgba(0, 0, 0, 1);
                word-break: break-all;
            }
        </style>
        <style>
            .ovenWebview_Nav a {
                color: #1abc9c
            }
        </style>
    </div>
    <script>(function (i, s, o, g, r, a, m) { i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () { (i[r].q = i[r].q || []).push(arguments) }, i[r].l = 1 * new Date(); a = s.createElement(o), m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m) })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga'); ga('create', 'UA-54845033-1', 'auto'); ga('send', 'pageview');
    </script>
    <script>var _tiq = 'undefined' !== typeof _tiq ? _tiq : []; _tiq.push(['__setPageName', 'webview']); _tiq.push(['__trackPageview']); (function (d) { var se = d.createElement('script'); se.type = 'text/javascript'; se.async = true; se.src = location.protocol + '//m1.daumcdn.net/tiara/js/td.min.js'; var s = d.getElementsByTagName('head')[0]; s.appendChild(se); })(document);</script>
</body>

</html>