<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>체험농장예약시스템</title>
</head>

<body>
  <h1 style="text-align: center">체험농장 예약시스템</h1>
  <div style="display: flex; justify-content: flex-end;">
    <div>
      <button onclick="location.href='/users/login'">로그아웃</button>
      <button onclick="location.href='/users/farmMypage'">농장주마이페이지</button>
      <button onclick="location.href='/users/userMypage'">사용자마이페이지</button>
    </div>
  </div>
  <hr>

  <div style="display: flex; flex-direction: column; align-items: center;">
    <p style="font-weight: bold; font-size: 28px;">재민농장</p>
    <p style="font-size: 20px; font-weight: bold; margin-right: 22%;">정보</p>
    <p style="font-size: 15px; line-height: 1.4em;">딸기따기 및 잼만들기 체험이 가능하며, 부산 주례동에 위치하고 있습니다.</p>
    <canvas style="border: 1px solid black" width="500px" height="250px"></canvas>
  </div>

  <div style="display: flex; flex-direction: column; align-items: center;">
    <p style="font-weight: bold; font-size: 16px;">프로그램</p>

    <table class="table">
      <thead>
        <tr class="th">
          <th></th>
          <th>프로그램</th>
          <th>가능인원</th>
        </tr>
      </thead>
      <tbody>
        <% for(i=0; i < 5; i++) { %>
          <tr class="td" onClick="location.href='/users/progRes'">
            <td>
              <%=i%>
            </td>
            <td>딸기따기</td>
            <td>10</td>
          </tr>
          <% } %>
      </tbody>
    </table>
    <button style="margin-top: 1%; height: 40px; width: 100px;" onclick="location.href='/'">취소</button>
  </div>
</body>

</html>
<style>
  table {
    border-top: 1px solid #444444;
    border-collapse: collapse;
  }

  th,
  td {
    border-bottom: 1px solid #444444;
    border-left: 1px solid #444444;
    padding: 10px;
  }

  th:first-child,
  td:first-child {
    border-left: none;
  }
</style>