<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <title>체험농장예약시스템</title>
  </head>
  <body>
    <h1 style="text-align: center;">체험농장 예약시스템</h1>
    <div style="display: flex; justify-content: flex-end;">
      <button type="button" class="btn col-md-12 blue1" onclick="location.href='/users/login'">로그아웃</button>
    </div>
    <hr>

    <form action="/users/payment" method="get">
      <div style="display:flex; justify-content: center">
        <div>
            <h3>날짜</h3>
            <input type="date" name="date" id="date" required>
  
            <h3>시간</h3>
            <select style="padding-right: 5%;" name="time">
            <option value="" selected> 시간 </option>
            <option value="09">09:00</option>
            <option value="10">10:00</option>
            <option value="11">11:00</option>
            <option value="12">12:00</option>
            <option value="13">13:00</option>
            <option value="14">14:00</option>
            <option value="15">15:00</option>
            </select>

          <h3>일일 예약 가능인원</h3>
          <input type="number" name="peopleNumber" id="peopleNumber" min="1" required><br>
        </div>
      </div>
      <div style="display:flex; justify-content: center; margin-top:2%">
        <div>
          <button type="submit" class="btn col-md-12 blue1" onclick="location.href='/users/payment'">결제</button>
          <button type="button" class="btn col-md-12 blue1" onclick="location.href='/users/progInfo'">취소</button>
        </div>
      </div>
      </form>
    </form>
  </body>
</html>