<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 style="text-align: center;">체험농장 예약시스템</h1>
    <button type="button" class="btn col-md-12 blue1" onclick="location.href='/users/login'">로그아웃</button> <hr>

    <h3 style="padding-left: 30%">예약 불가능 날짜</h3>

    
    <h3 style="padding-left: 30%">체험 가능한 프로그램명</h3>

    
    <h3 style="padding-left: 30%">일일 예약 가능인원</h3>
        
</body>
</html>