<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>체험농장예약시스템</title>
</head>

<body>
  <h1 style="text-align: center;">체험농장 예약시스템</h1>
  <div style="display: flex; justify-content: flex-end;">
    <div>
      <button type="button" class="btn col-md-12 blue1" onclick="location.href='/users/login'">로그아웃</button>
      <button type="button" class="btn col-md-12 blue1" onclick="location.href='/'">메인</button>
    </div>
  </div>
  <hr>
  <div style="display: flex; justify-content: center;">
    <p class="info">회원정보</p>
  </div>
  <hr style="width: 80%; margin-top: 4.5%;">

    <div>
      <div class="text" style="left: 44%;">
        <p>아이디</p>
        <p>비밀번호</p>
        <p>이름</p>
        <p>전화번호</p>
        <p>이메일</p>
      </div>
      <div class="text"  style="left: 53%;">
        <p>user1</p>
        <p>u*****</p>
        <p>김OO</p>
        <p>010-1234-5678</p>
        <p>hello@gmail.com</p>
      </div>
      <button class="button" style="left: 48%;" onclick="location.href='/users/userMypage'">완료</button>
    </div>
</body>

</html>
<style>
  .info {
    position: absolute;
    top: 14%;
    width: 370px;
    height: 40px;
    text-align: center;
    line-height: 2.5em;
    background-color: rgb(224, 224, 224);
  }
  .text {
    position: absolute;
    top: 25%;
  }

  .button {
    position: absolute;
    top: 50%;
    width: 100px;
    height: 49px;
  }
</style>